data/input/dataset-json-pagamentos/
data/input/datasets-csv-pedidos/
.venv/
__pycache__/
*.pyc

# Arquivos de ambiente (que podem conter senhas)
.env
.env.*

# Metadados de IDEs (Cloud9/VSCode)
.vscode/
.c9/.idea/
*.log

data/output/
dataeng-pyspark-poo.log