# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos de saída
data/output/

# Logs
*.log

# Cobertura de testes
.coverage
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db